.center{
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
/* form styling */
.close-popup-box {
  position: relative;
  top: -18px;
  left: 98%;
  height: 57px;
  width: 56px;
  float: left;
}
.popup-box-container{
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  background: #F9F8ED;
  margin: 5% auto;
  padding: 0 10px 0;
  width: 410px;
  box-shadow: 3px 3px 15px 0 #222222;
  -moz-box-shadow: 3px 3px 15px 0 #222222;
  -webkit-box-shadow: 3px 3px 15px 0 #222222;
}
.dialog{
  z-index: 1050;
  position: fixed;
  background-color: white;
  max-height: 710px;
  padding-left: 10px;
  width: 690px;
  top: 50%;
  left: 50%;
  margin-left: -345px;
  margin-top: -225px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.closeDialog{
  position: absolute;
  top: 0;
  left: 0;
  clip: rect(0 56px 57px 0);
}
.closeDialog:hover {
  clip: rect(57px 56px 114px 0);
  top: -57px;
  cursor: pointer;
}
.popup-container{
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 2006;
}
.fade-to-gray, .fade-to-white {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  z-index: 2005;
}
.fade-to-gray {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  background: black;
}
.buttonRed {
  background: #C81E1E;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -khtml-border-radius: 8px;
  padding: 5px 5px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #914137;
  background: -webkit-gradient(linear, left top, left bottom, from(#DC372D), to(#A5281E) );
  background: -moz-linear-gradient(-90deg, #DC372D, #A5281E);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#DC372D', endColorstr='#A5281E');
  color: #FFFFFF;
}
/**
 Ordr.in colors:
- Red: #d2142e, #ce1726;
- Orange: #ff4038
- Blue: #8ed4ce;
- Salmon: #ff6762;
**/
body {
    font-family: Arial, Helvetica, sans-serif;
}
/********HEADER********/
/*end of header*/
/********BODY********/
h1 {
    font-family: "Arial Black", Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-bottom: 20px;
    padding-top: 30px;
}
/********ADD PHOTOS PAGE********/
/********ADD PHOTOS 2********/
 address {
    border: 5px solid #d2142e;
    padding: 15px;
    font-size: 20px;
    margin-bottom: 20px;
    width: 610px;
}
/********PHOTOS 4********/
/********FOOTER********/
