ul{
  list-style-type: none;
  padding-left: 0;
}
body{
  font-weight: normal;
  font-family: "Helvetica";
  font-size: 15px;
  padding-left: 10px;
}
.header{
  font-weight: bold;
  font-size: 18px;
}
.hidden{
  display: none;
}
.price{
  float: right;
  padding-right: 5px;
}
.clear{
  clear: both;
}
.optionCategory{
  padding-top: 5px;
  padding-bottom: 5px;
}
.option{
  width: 210px;
  float: left;
  padding-left: 10px;
}
/* photos */
/* Menu */
/*=== the div that shows the info of the restaurant you selected on the menu page ===*/
/*======menu styles======*/
/* menu header*/
.menu-hd {
  border-bottom: 1px solid #e6e6dc;
  padding-bottom: 8px;
}
.menu-hd p:first-child, .header {
  font-weight: bold;
  font-size: 16px;
  color: #d2142e;
  padding-bottom: 5px;
}
/* menu items */
.menu {
  margin-bottom: 6px;
  overflow: hidden;
}
.menu li p {
  float: left;
  width: 78%;
}
.menu li p:first-child {
  width: 78%;
}
.menu li {
  font-size: 12px;
  padding: 8px 0;
  border-bottom: 1px solid #e6e6dc;
  display: inline-block;
  width: 47%;
  overflow: hidden;
  position: relative;
}
.menu li:nth-of-type(2n + 1){
  margin-right: 16px;
}
.menu>li:first-child + li + li {
  margin-right: 16px;
}
.mi > ul {
  display:none;
}
.mi{
  display: block;
}
.menu li:hover {
  cursor: pointer;
  background: #f9f8ed;
}
.menu li .price {
  text-align: right;
  width: 22%;
  color: #55544b;
  position: absolute;
  bottom: 8px;
  right: 0;
}
/*popup menu item*/
.mItem-add-to-tray {
  font-size: 12px;
}
/* popup menu : heading of the menu item pop-up */
.mItem-add-to-tray .boxright {
  border-bottom: 1px dashed #a7a69b;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-right: 10px;
}
.mItem-add-to-tray h1 {
  font-weight: bold;
  font-size: 18px;
  color: #d2142e;
  float: left;
  width: 70%;
  padding: 0;
}
.mItem-add-to-tray .menu-hd .boxright .slim-col {
  font-size: 18px;
  text-align: right;
}
.mItem-add-to-tray .desc {
  padding-top: 5px;
}
.mItem-add-to-tray .menu-hd {
  border: none;
  margin-bottom: 15px;
}
/*popup menu : additional items styles*/
/* popup menu : special instructions and submit button*/
