p.desc.dialogDescription {
    font-style: italic;
    font-size: 11px;
    color: rgb(117, 116, 105);
    margin-top: -40px;
}

label {
    margin-left: 55px;
    color: rgb(117, 116, 105);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

.buttonRed {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 55px;
    font-family: Arial;
    text-transform: uppercase;
    font-weight: bold;
}

span.header {
    color: rgb(117, 116, 105);
    font-size: 14px;
}

span.optionPrice {
    color: rgb(117, 116, 105);
    font-size: 12px;
}

span.optionName {
    color: rgb(117, 116, 105);
    font-size: 12px;
}

li.optionCategory {
    margin-left: 55px;
}

p.slim-col.itemPrice {
    margin-right: 55px;
    color: rgb(210, 20, 46);
    font-size: 18px;
    font-weight: bold;
}

h1.big-col.itemTitle {
    color: rgb(210, 20, 46);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

input.itemQuantity {
    width: 30px;
    margin-left: 5px;
}

div.trayContainer {
background: #eeeeee; /* Old browsers */
background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
    border-radius: 5px; 
-moz-border-radius: 5px; 
-webkit-border-radius: 5px; 
border: 1px solid rgb(117, 116, 105);
    width: 300px;
    float: right;
    padding: 5px;
}

#yourTray {
    float: right;
    width: 20%;
    font-family: "Paytone One", "Arial Black", sans-serif;
    font-size: 1.5em;
    margin-bottom: 10px;
}

li.trayItem {
    border-bottom: 1px dashed rgb(117, 116, 105);
    margin-bottom: 30px;
    font-size: 12px;
}

div.trayItemRemove {
    width: 2%;
    float: left;
    color: #fff;
    font-size: 10px;
background: #e81700; /* Old browsers */
background: -moz-linear-gradient(top,  #e81700 0%, #ad0303 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e81700), color-stop(100%,#ad0303)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e81700 0%,#ad0303 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e81700 0%,#ad0303 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e81700 0%,#ad0303 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e81700 0%,#ad0303 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e81700', endColorstr='#ad0303',GradientType=0 ); /* IE6-9 */
border: 1px solid rgb(117, 116, 105);
        border-radius: 20px; 
-moz-border-radius: 20px; 
-webkit-border-radius: 20px; 
padding: 3px;
margin-right: 3%;
}

span.trayItemQuantity {
font-size: 10px;
width: 10%;
}

span.trayOptionPrice {
    font-size: 10px;
    float: right;
}

span.trayOptionName {
    font-size: 10px;
}

span.trayItemName {
    font-weight: bold;
    width: 72%;
}

span.trayItemPrice {
    float: right;
    font-weight: bold;
}